.about-heading {
    justify-content:center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    font-weight: bold;
    color: black;   
}


#cvs {
  height: 75%;
  margin-top: 25%;
  margin-bottom: 25%;
}

#kaiser {
  height: 250px;
}

#ligolab {
  height: 50%;
  margin-top: 10%;
  margin-bottom: 10%;
}

#intern {
  border: 1px solid black;
}

#kp {
  border: 1px solid black;
}

#ligo {
  border: 1px solid black;
}