
.contact-form{
    background:  rgba(0, 0, 0, 0.74);
    margin-top: 2.5%;
    margin-bottom: 5%;
    width: 70%;
    border-radius: 1em;
    border: 1.5px solid whitesmoke;
}

.contact-form .form-control{
    border-radius: 1rem;
}

.contact-image{
    text-align: center;
}

.contact-image img{
    width: 25%;
    transform: rotate(25deg);
}

.contact-form form{
    padding: 14%;
}

.contact-form form .row{
    margin-bottom: -7%;
}

#btn {
    width: 50%;
    margin-top: 5%;
    font-size: 100%;
    font-weight: bold;
    color: whitesmoke;
    border-radius: 1rem;
    border: 1.5px solid whitesmoke;
    cursor: pointer;
    background-image: linear-gradient(rgb(179, 194, 249) 0%, rgb(3, 3, 104) 100%);
}

#btn:hover {
    background-image: linear-gradient(rgb(226, 228, 232) 0%, rgb(55, 55, 60) 100%);
    font-size: 110%;
    transition: all 0.3s ease-in-out;
    color: black;
}

#contact-form {
    justify-content: center;
}

#contact {
    padding-top: 5%;
}