#card-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#card-heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 150%;
}

#kgi {
    height: 85%;
    margin-top: 10%;
    margin-bottom: 10%;
}

#uci {
    height: 200px;
}

#bootcamp {
    height: 75%;
}

#education {
    box-shadow: 0 10px 5px 0 rgb(170, 170, 178), 0 10px 10px 0 rgb(99, 99, 102);
    justify-content: center;
}

#educate {
    padding-bottom: 5%;
}

#keck {
    border: 1px solid black;
  }

  #irvine {
    border: 1px solid black;
  }

  #boot {
    border: 1px solid black;
  }