#footer {
    background-image: linear-gradient(rgb(126, 153, 251) 0%, rgb(6, 6, 129) 100%);
    border-top: 1.5px solid whitesmoke;
}

#navi-link a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 125%;
    font-weight: bold;
    color: whitesmoke;
}

#navi-link a:hover {
    color: black;
    font-size: 150%;
    transition: all 0.3s ease-in-out;
}

.collapse{
    color:white;
}


#username {
    font-weight: bold;
    font-size: 125%;
    color: whitesmoke;
}

#github {
    width: 15%;
    margin-left: 20%;
}

#resume {
    width: 15%;
    margin-left: 20%;
}

#ligolab {
    width: 20%;
    height: auto;
}

#github:hover {
    width:15%;
    border: 1.5px solid whitesmoke;
    border-radius: 0.25em;
}

#resume:hover {
    width: 15%;
    border: 1.5px solid whitesmoke;
    border-radius: 0.25em;
}

#ligolab:hover {
    width: 20%;
    border: 1.5px solid whitesmoke;
    border-radius: 0.25em;
}