h4 {
    font-size: 200%;
}

#card-heading {
    font-weight: bold;
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#weather {
    padding-top: 2%;
}

#bottom {
    justify-content: center;
}

#top {
    justify-content: center;
}

#weather {
    border: 1px solid black;
}

#event {
    border: 1px solid black;
}

#pill {
    border: 1px solid black;
}

#notes {
    border: 1px solid black;
}

#passgen {
    border: 1px solid black;
}

#blog {
    border: 1px solid black;
}