

.progress-row {
    padding: 1em 1em;
  }
  
  .textbox {
    height: 700px;
  }
  
  .progress {
    margin-bottom: 4px;
  }
  
  .progress-bar {
    width: 0;

  }

  .custom-row{
    padding-top:5%;
   }

  .card-body{
    background-image: linear-gradient(rgb(226, 228, 232) 0%, rgb(73, 73, 76) 100%);
    border-radius: 0.5em;
  }

  .card-body p{
    color: whitesmoke;
    font-weight: bold;
 }

 h5 {
  color: black;
 }

 h3 {
  color: black;
  font-weight: bold;
 }

 .section-title {
  font-weight: bold;
  font-size: 250%;
 }

 .card-header{
   height:50px;
   background-color: #1f1c18;
 }

 #skills {
  box-shadow: 0 10px 5px 0 rgb(170, 170, 178), 0 10px 10px 0 rgb(99, 99, 102);
  justify-content: center;
}